[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[packages]
opencv-python = "*"
opencv-contrib-python = "*"
bypy = "*"

[requires]
python_version = "3.7"

[dev-packages]
pylint = "*"
