[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
shlex = "*"
subprocess = "*"
opencv-python = "*"
opencv-contrib-python = "*"
bypy = "*"

[requires]
python_version = "3.7"
